table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid #444444;
    padding: 8px;
    text-align: center;
    table-layout: fixed;
    width: 100%

}
th:nth-child(2n), td:nth-child(2n) {
    background-color: #e3f2fd ;

}
th:nth-child(2n+1), td:nth-child(2n+1) {
    background-color: #bbdefb ;
}